{% extends 'base.html' %}

{% block title %}
My Project Main
{% endblock %}
{% block body %}
    <div class="c_article">
        <div class="videoholder">
            <div class="ytvideo">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/yHU6g3-35IU"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                         encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            Random video 1
        </div>
        <div class="videoholder">
            <div class="ytvideo">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/midpbHJ4EIk"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                         encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            Random video 2
        </div>
    </div>
{% endblock %}